{# Pour chaque todo #}
<div class="row todo">
    <div class="col-sm-11">
        <div class="panel panel-default">
            <div class="panel-body">
                <em>{# Date de création #}</em>
                {# Contenu du todo #}
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <p>
            {# Bouton de modification #}
            <a href="#" class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {# Bouton d'archivage #}
            <a href="#" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </p>
    </div>
</div>
