{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>ToDoList</h1>

            {# Début formulaire (ajout ou modification) #}
                {# Champ du formulaire #}

                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </button>

            {# Fin formulaire #}

        </div>
    </div>
    <div class="container">

        {# Liste par défaut des Todos #}

    </div>
{% endblock %}
