html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #d7d7d7;
}

#sidebar p {
    text-align: center;
}

#sidebar p .logo {
    display: block;
    padding: 20px 0;
    font-size: 32px;
}

#sidebar p .logo:hover {
    text-decoration: none;
}

#main {
    margin-left: 250px;
    padding: 30px;
}

p.actions {
    text-align: right;
}

p.actions a {
    margin-left: 10px;
}

form .form-actions {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
}

form .form-actions a {
    margin-left: 10px;
}

form ul.collection {
    border: 1px dotted #d7d7d7;
}

form ul.collection li {
    border-top: 1px dotted #d7d7d7;
}